.swiper {
  &-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background: #8c96a0;
    border-radius: 6px;
    z-index: 9;
    cursor: pointer;
    transition: background 0.25s;

    &:hover {
      background: $violet;
    }

    svg {
      fill: #fff;
    }

    &-prev {
      left: 10%;
    }

    &-next {
      right: 10%;

      svg {
        transform: scale(-1, 1);
      }
    }
  }
}

.news {
  margin-top: 32px;
  transition: transform 0.5s;
  transform: translate(0);

  &-item {
    max-width: 615px;
    background: linear-gradient(177.87deg, #30373f 41.63%, #141615 185.57%);
    border-radius: 6px;
    padding: 20px;

    &-info {
      justify-content: space-between;
      align-items: center;
    }

    &__subtitle {
      font-weight: 600;
      font-size: 10px;
      line-height: 1.2;
      text-transform: uppercase;
      color: $violet;
    }
    &__date {
      font-weight: 400;
      font-size: 10px;
      line-height: 1.7;
      color: $grey;
    }

    &__title {
      font-weight: 600;
      font-size: 19px;
      line-height: 1.2;
      text-transform: uppercase;
      color: $white;
      margin: 7px 0 16px 0;
    }

    &__description {
      column-gap: 24px;
      height: 248px;
      align-items: flex-start;
    }

    &__img {
      min-width: 278px;
      height: 100%;
    }

    &__text {
      flex-direction: column;
      height: 100%;

      p {
        color: #d9d9d9;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.4;
      }
    }

    &__button {
      background: $grey;
      border-radius: 6px;
      font-weight: 500;
      font-size: 13px;
      line-height: 1.1;
      text-transform: uppercase;
      color: $white;
      padding: 8px 30px;
      display: flex;
      width: max-content;
      margin-left: auto;
      margin-top: auto;
      transition: background 0.25s;

      &:hover {
        background: $dark;
      }
    }
  }
}
