.container-2 {
  @media screen and (min-width: 768px) {
    width: 700px;
  }
}

.violet {
  color: $violet;
}

.section-explore {
  margin-top: 80px;
  padding-bottom: 130px;
}

.explore {
  &-items {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    margin-top: 32px;

    h3 {
      text-align: center;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
    }
  }

  &-item {
    &__price {
      margin-top: 25px;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.2;
      color: $white;
      text-align: center;
    }
  }

  &-switch {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    column-gap: 15px;
    // margin-left: auto;
    // margin-right: auto;

    &__checkbox {
      width: 54px;
      height: 25px;
      background: $dark;
      border-radius: 12px;
      position: relative;

      input {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        // cursor: pointer;
        cursor: url("../../images/7.png"), auto;
        z-index: 2;

        &:checked {
          & + span {
            transform: translateX(28px);
          }
        }
      }

      span {
        border-radius: 50%;
        background: $violet;
        width: 18px;
        height: 18px;
        position: absolute;
        top: 4px;
        left: 4px;
        transform: translate(0);
        transition: transform 0.25s;
      }
    }
    &__title {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.2;
      color: $dark;

      &.active {
        color: $white;
      }
    }
  }
  &-info {
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    margin-top: 96px;
    column-gap: 14%;
    transition: columb-gap 0.5s;

    &.reverse {
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
      flex-direction: row-reverse;

      .explore {
        &-img {
          justify-content: start;
        }

        &-description {
          text-align: left;
        }

        &-button {
          margin-left: auto;
        }
      }
    }
  }
  &-img {
    @media screen and (max-width: 768px) {
      width: 36%;
    }
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: end;

    &__wrap {
      @media screen and (max-width: 768px) {
        height: 138px;
      }
      width: 300px;
      height: 300px;
      border-radius: 12px;
      //   @include bg;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 61px;
        height: 140px;
        background: $red;
        filter: blur(75px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        opacity: 0.8;
      }

      img {
        // @media screen and (min-width: 768px) {
        //   max-width: unset;
        // }
        // max-width: unset;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
  &-description {
    @media screen and (max-width: 768px) {
      margin-top: 30px;
    }
    // min-width: max-content;
    width: 50%;

    ul {
      // align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      font-weight: 400;
      font-size: 15px;
      line-height: 2.4;
      display: none;
      max-width: 400px;
      // height: 400px;
      @media screen and (max-width: 768px) {
        font-size: 10px;
      }

      &.active {
        display: flex;
      }
    }
  }

  &-button {
    @include button($red);
    @include hoverViolet;
    margin-top: 28px;
  }
}
