.section-faq {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-faq h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.faq {
  &-items {
    flex-direction: column;
    row-gap: 32px;
  }

  &-item {
    transition: transform 0.4s;
    transform: translate(0);

    &__header {
      width: 100%;
      justify-content: space-between;
      font-weight: 600;
      font-size: 17px;
      line-height: 1.2;
      color: $white;
      // cursor: pointer;
      border-bottom: 2px solid $violet;
      padding-bottom: 8px;
      cursor: url("../../images/7.png"), auto;

      span {
        background: linear-gradient(0deg, #8c96a0, #8c96a0),
          linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        border-radius: 6px;
        width: 30px;
        height: 30px;

        &::before {
          font-size: 25px;
          content: "";
          transition: transform 0.25s;
        }
      }
    }

    &__content {
      height: 0;
      opacity: 0;
      transition:
        height 0.25s,
        opacity 0.25s;

      p {
        padding-top: 13px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;

        span {
          color: $red;
        }
      }
    }
    &.opened {
      span {
        &::before {
          transform: rotate(45deg);
        }
      }
      .faq-item__content {
        opacity: 1;
      }
    }
  }
}
