.video {
  position: relative;
  margin-top: 32px;
  transition: transform 0.5s;
  transform: scale(1);

  video {
    width: 100%;
    height: auto;
  }

  &-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;

    &.hidden {
      opacity: 0;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
  &-title {
    font-weight: 500;
    font-size: 56px;
    color: $white;
    line-height: 39px;
  }

  &-btn {
    display: inline-block;
    background: $dark;
    // background-color: $violet;
    border-radius: 6px;
    padding: 9px 26px;
    font-weight: 500;
    font-size: 16px;
    color: $white;
    cursor: pointer;
    margin: 28px auto 0 auto;
    transition: backround 0.25s;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background-color: orange;
    }
  }
}
