body {
  font-family: "Rubik", Roboto, sans-serif;
  background-color: $main;
  color: $white;
  font-size: 16px;
  padding: 0;
  margin: 0;
  // overflow: hidden;
  cursor: url("../../images/6.png"), auto;
}

:root {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button {
  border: none;
  background: none;
  outline: none;
  color: $white;
  font-family: "Rubik", Roboto, sans-serif;
  font-size: 16px;
}

a {
  color: $white;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  color: $white;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s;
}

a {
  cursor: url("../../images/7.png"), auto;
}
